.App-header {
    a {
        text-decoration: none;
        cursor: pointer;
    }

    li {
        list-style: none;
        display: inline-block;
        margin-right: 5pt;
    }
}

.db-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .charts {
        margin-bottom: 20pt;
        canvas {
            height: 300pt;
            width: 600pt;
        }
    }

    .pagination {
        margin: auto;
        justify-self: center;
    }
}