.App-header {
    a {
        text-decoration: none;
        cursor: pointer;
    }

    li {
        list-style: none;
        display: inline-block;
        margin-right: 5pt;
    }
}

.db-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pagination {
        margin: auto;
        justify-self: center;
    }
}